<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- ==========================================
    
                    Event Log settings
    
    =========================================== -->

    <!--
        Description:   The Event Log to read.
        Default:       MicroMonitor.Debug
    -->
    <add key="LogName" value="Dbank" />
    
    <!--
        Description:  The interval in seconds of how often to poll Event Log for new log entries.
        Default:      10
    -->
    <add key="PollIntervalSeconds" value="10" />

    <!-- ==========================================
    
                    Main Window settings
    
    =========================================== -->

    <!-- 
        Description:  The height of MicroMonitor's main window.
        Default:      200
    -->
    <add key="MainWindow.Height" value="200" />

    <!--
        Description:  The width of MicroMonitor's main window.
        Default:      150
    -->
    <add key="MainWindow.Width" value="150" />

    <!--
        Description:  Where should MicroMonitor spawn on startup?
        Options:      Cursor|CenterScreen
        Default:      Cursor
    -->
    <add key="MainWindow.SpawnMethod" value="Cursor" />

    <!--
        Description:  [NOT IMPLEMENTED] The font size for all text in the Main Window.
        Default:      9
    -->
    <add key="MainWindow.FontSize" value="11" />

    <!-- ==========================================
    
                    DetailsWindow settings
    
    =========================================== -->

    <!--
        Description:  The height of the details window for a log entry. If 0 it'll use same height as Main Window.
        Default:      0
    -->
    <add key="DetailsWindow.Height" value="0" />

    <!--
        Description:  The width of the details window for a log entry.
        Default:      450
    -->
    <add key="DetailsWindow.Width" value="450" />

    <!-- 
        Description:  What direction to grow the height of the details window. 
                      Up means it flushes with the bottom of the Main Window and height is added upwards.
                      Down means it fluses with the top of the Main Window and height is added downwards.
        Options:      Up|Down.
        Default:      Up
    -->
    <add key="DetailsWindow.GrowDirection" value="Up" />

    <!--
        Description:  The font size for all text in the details window.
        Default:      9
    -->
    <add key="DetailsWindow.FontSize" value="9" />

    <!-- ==========================================
    
                    Log Entry settings
    
    =========================================== -->
    
    <!--
        Description:  Color for info log entries
        Options:      Any HEX color code
        Default:      #B2D490
    -->
    <add key="LogEntry.Color.Info" value="#B2D490" />

    <!--
        Description:  Color for stale info log entries
        Options:      Any HEX color code
        Default:      #BCC9AF
    -->
    <add key="LogEntry.Color.Info.Stale" value="#BCC9AF" />

    <!--
        Description:  Color for warning log entries
        Options:      Any HEX color code
        Default:      #D4C496
    -->
    <add key="LogEntry.Color.Warning" value="#D4C496" />

    <!--
        Description:  Color for stale warning log entries
        Options:      Any HEX color code
        Default:      #C2BAA3
    -->
    <add key="LogEntry.Color.Warning.Stale" value="#C2BAA3" />

    <!--
        Description:  Color for error log entries
        Options:      Any HEX color code
        Default:      #D49090
    -->
    <add key="LogEntry.Color.Error" value="#D49090" />

    <!--
        Description:  Color for stale error log entries
        Options:      Any HEX color code
        Default:      #BFA4A4
    -->
    <add key="LogEntry.Color.Error.Stale" value="#BFA4A4" />

    <!--
        Description:  The threshold in minutes for how old a log entry must be to be considered stale
        Default:      10
    -->
    <add key="LogEntry.Stale.ThresholdInMinutes" value="30" />

    <!--
        Description:  Should log entries be colored as stale?
        Options:      true|false
        Default:      true
    -->
    <add key="LogEntry.Stale.Enabled" value="true" />

    <!-- ==========================================
    
                    Self-logging settings
    
    =========================================== -->
    
    <!--
        Description:  The LogEventLevel to set for Serilog when logging MicroMonitor events, errors, and logs
        Options:      Verbose|Debug|Information|Warning|Error|Fatal
        Default:      Information
    -->
    <add key="SerilogLogLevel" value="Verbose" />
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>