<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--
        Description:   The Event Log to read.
        Default:       MicroMonitor.Debug
    -->
    <add key="LogName" value="MicroMonitor.Debug"/>
    
    <!--
        Description:  The interval in seconds of how often to poll Event Log for new log entries.
        Default:      10
    -->
    <add key="PollIntervalSeconds" value="10"/>
    
    <!--
        Description:  The height of the details window for a log entry. If 0 it'll use same height as Main Window.
        Default:      0
    -->
    <add key="DetailsWindow.Height" value="0"/>

    <!--
        Description:  The width of the details window for a log entry.
        Default:      450
    -->
    <add key="DetailsWindow.Width" value="450"/>

    <!-- 
        Description:  What direction to grow the height of the details window. 
                      Up means it flushes with the bottom of the Main Window and height is added upwards.
                      Down means it fluses with the top of the Main Window and height is added downwards.
        Options:      Up|Down.
        Default:      Up
    -->
    <add key="DetailsWindow.GrowDirection" value="Up"/>

    <!--
        Description:  The font size for all text in the details window.
        Default:      9
    -->
    <add key="DetailsWindow.FontSize" value="9"/>
    
    <!-- 
        Description:  The height of MicroMonitor's main window.
        Default:      200
    -->
    <add key="MainWindow.Height" value="200"/>

    <!--
        Description:  The width of MicroMonitor's main window.
        Default:      105
    -->
    <add key="MainWindow.Width" value="105"/>

    <!--
        Description:  Where should MicroMonitor spawn on startup?
        Options:      Cursor|CenterScreen
        Default:      Cursor
    -->
    <add key="MainWindow.SpawnMethod" value="Cursor"/>

    <!--
        Description:  [NOT IMPLEMENTED YET] The font size for all text in the Main Window.
        Default:      9
    -->
    <add key="MainWindow.FontSize" value="11"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>